@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Nav - Started */

.forBackground {
  width: 100%;
  height: 80px;
  background: rgba(21, 24, 28, 0.7);
  backdrop-filter: blur(1px);
}

[data-theme="light"] {
  --backgound: #f6f6f6;
  --backgound-overlay: rgba(255, 255, 255, 0.4);
  --font-colour: #202020;
}

[data-theme="dark"] {
  --backgound: #202020;
  --backgound-overlay: rgba(32, 32, 32, 0.8);
  --font-colour: #ecbf1d;
}
html {
  background: var(--backgound);
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 93px;
  height: 40px;
  background: #151a1e;
  border: 1px solid #aaaaaa;
  border-radius: 40px;
  position: relative;
  display: inline-block;
  text-align: center;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #5454d4;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--font-colour);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 65px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainLinks ul {
  display: flex;
  align-items: center;
}

.mainLinks ul li {
  list-style: none;
}

.mainLinks ul li:first-child {
  margin-left: 16px;
}

.mainLinks ul li:nth-child(2) {
  margin-left: 14px;
}

/* Nav - Finished */

/* Header */

header {
  background: url(../assets/bg\ 1.svg);
  height: 900px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.header .left-side {
  width: 695px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header .left-side h1 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.header .left-side p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header .left-side span {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  top: 190px;
  z-index: 9;
  background: #6911ad;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header .left-side a {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  z-index: 999999;
  margin-top: 212px;
  position: relative;
  top: 145px;
  left: 50px;
  color: #fff;
}

.header .left-side .div:hover span {
  width: 196px;
  height: 70px;
  border-radius: 141px;
}

/* All */

.all {
  background: url(../assets/bg\ 3.svg), #1e1e1e;
  color: white;
}

/* About Company */

.about-company {
  align-items: center;
  padding-top: 120px;
  justify-content: space-around;
  padding-bottom: 95px;
}

.about-company .left-side {
  width: 569px;
}

.about-company .left-side h2 {
  font-family: "Futura PT", sans-serif;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
}

.about-company .left-side p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.about-company .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Futura PT", sans-serif;
}

.about-company .right-side .nums {
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about-company .right-side .nums .num {
  gap: 184px;
}

.about-company .right-side .nums .num .flex-col {
  align-items: center;
  justify-content: center;
}

.about-company .right-side .nums .num .flex-col h2 {
  font-family: "Futura PT" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  background: linear-gradient(
    109.09deg,
    rgba(0, 40, 248, 0.89) 0%,
    #6911ad 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 12px;
}

.about-company .right-side .nums .num .flex-col p {
  font-family: "Futura PT" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

/* Bizning afzalliklar */

.our-adventages h2 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.our-adventages .cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.our-adventages .cards .card {
  width: 403px;
  height: 220px;
  background: rgba(17, 19, 23, 0.5);
  border: 1px solid #4e4e4e;
  backdrop-filter: blur(2.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 30px;
}

.our-adventages .cards .card h3 {
  padding-top: 35px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.our-adventages .cards .card hr {
  width: 50px;
  height: 3px;
  background: #686464;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.our-adventages .cards .card p {
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

/* Our Works */

.our-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.our-works .category {
  width: 664px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(17, 19, 23, 0.5);
  border: 1px solid #4e4e4e;
  backdrop-filter: blur(2px);
  border-radius: 90px;
  margin: 42px 0;
}

.our-works .category span{
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.our-works .category span:hover{
  background: linear-gradient(
    93.5deg,
    #1e11ad 12.37%,
    rgba(105, 17, 173, 0.95) 85.28%
  );
  border-radius: 30px;
  width: 166px;
  height: 51px;
  transition: all .5s ease-in-out;
}

.our-works .category span.active {
  transition: all .5s ease-in-out;
  width: 166px;
  height: 51px;
  background: linear-gradient(
    93.5deg,
    #1e11ad 12.37%,
    rgba(105, 17, 173, 0.95) 85.28%
  );
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}
